@model IEnumerable<LibraryMvc.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>ספרים</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">צור ספר</a>
    <a asp-action="CreateSet" class="btn btn-primary">צור סט</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShelfId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Set)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Width)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShelfId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Set.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">ערוך</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">הצג פרטים</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">מחק</a>
                    @{
                        if (item.Shelf == null)
                        {
                            string message = item.SetId != null ? "סט" : "ספר";
                            <a asp-action="AddToShelf" asp-route-id="@item.Id" asp-route-SetId="@item.SetId" asp-route-genre="@item.genre" class="btn btn-success">הוסף @message למדף</a>
                        }

                    }

                </td>
            </tr>
        }
    </tbody>
</table>
